@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, p, nav, h1{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar.bg-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}


div.banner-intro{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.hero-banner{
  border-radius: 21px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

.description{
  line-height: 2em;
  color: #525457;
  text-align: justify;
}

.box{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  12px 12px 16px #c1c1c1,
              -12px -12px 16px #ffffff;
}

.project-heading{
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  color: #FE024F; 
  font-size: 14px;
  font-weight: 500;
}

h1.subtitle{
  font-size: 32px;
  font-weight: 700;
}

div.card img{
  border-radius: 5%;
}


.projects{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #FE024F; 
  font-weight: 500;
}

div.card, .rec-black{
  border-radius: 5%;
  background: rgb(214,214,214);
  background: linear-gradient(to left top, rgb(239, 239, 239) 0%, rgba(255,255,255,1) 100%);
  box-shadow: 5px 10px 5px 2px  #DAE1EB;
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-body a{
  text-decoration: none;
  color: black
}

.card-body a:hover{
  color: #FE024F;
}

.nav-pills {
  background: linear-gradient(to right, #ffffff, #f2f2f2);
  box-shadow: 0 2px 5px rgba(0, 0, 10, 0.3);
  border-radius: 10px;
  height: 10vh;
}

.nav-pills .nav-item .nav-link {
  background-color: transparent;
  border: none;
  padding: 15px 20px; 
  font-size: 16px; 
  color: #333; 
  height: 80px;
  width: 324px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.nav-pills .nav-item .nav-link.active {
  background: linear-gradient(to right, #ffffff, #f2f2f2); 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: #FE024F;
}

.nav-pills .nav-item .nav-link:hover {
  background: linear-gradient(to right, #f9f9f9, #eaeaea);
  color: #FE024F;
}

@media (min-width: 992px) {
  h1.subtitle {
    font-size: 60px;
  }

  div.banner-intro{
    font-size: 48px;
  }

}


