@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');


html, body, p, nav{
    font-family: 'Montserrat', sans-serif;
}

div.banner-intro{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.hero-banner{
    border-radius: 21px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.typing {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid black;
    color: #FE024F;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 1px;
    vertical-align: top;
    animation: typing 2s infinite;

  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }
